<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120212169437-05nbapbis22618ja0rh003bmg7gsk374.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120212169437-05nbapbis22618ja0rh003bmg7gsk374</string>
	<key>API_KEY</key>
	<string>AIzaSyBzEDhOgL7kkbA5SxMaznq3TEq_JU--3EI</string>
	<key>GCM_SENDER_ID</key>
	<string>120212169437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exopekApp</string>
	<key>PROJECT_ID</key>
	<string>exopekapp</string>
	<key>STORAGE_BUCKET</key>
	<string>exopekapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120212169437:ios:d62963f41c63e7244d3134</string>
</dict>
</plist>